In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

#### Sum for 1--100

In [2]:
sum(range(1,100))

4950

#### Change global value

In [3]:
a = 5

def fn():
    global a
    a = 4
    
fn()    
print(a)

4

#### delete and update dict

In [4]:
d = {'A': [1,2,3],'B':[4,5,6]}

In [5]:
del d['A']
d

{'B': [4, 5, 6]}

In [6]:
d1 = {'C':[7,8,9]}

In [7]:
d.update(d1)

d

{'B': [4, 5, 6], 'C': [7, 8, 9]}

#### remove duplications

In [8]:
my_list = [1,2,3,4,4,4,5,6,6,7,7]
my_list

[1, 2, 3, 4, 4, 4, 5, 6, 6, 7, 7]

In [9]:
set(my_list)

{1, 2, 3, 4, 5, 6, 7}

In [10]:
new_list = [a for a in set(my_list)]
new_list

[1, 2, 3, 4, 5, 6, 7]

#### map

In [11]:
def func(x):
    return x**2

result = map(func, my_list)
result

In [12]:
result = [a for a in result]
result

[1, 4, 9, 16, 16, 16, 25, 36, 36, 49, 49]

#### one line code with filter

In [13]:
[a for a in my_list if a%2==0]

[2, 4, 4, 4, 6, 6]

#### one line code without filter

In [14]:
[a if a%2 else 0 for a in my_list]

[1, 0, 3, 0, 0, 0, 5, 0, 0, 7, 7]

#### remove duplicates for string list

In [22]:
s = 'abbbabccdddeefff'
s

'abbbabccdddeefff'

In [23]:
s1 = set(s)
s1

{'a', 'b', 'c', 'd', 'e', 'f'}

In [24]:
s2 = list(s1)
s2

['a', 'c', 'd', 'b', 'e', 'f']

In [25]:
s2.sort(reverse=False)
s2

['a', 'b', 'c', 'd', 'e', 'f']

In [26]:
''.join(s2)

'abcdef'

#### sort according to the dict key

In [28]:
d3 = {'A': [1, 3, 4], 'C':[4,5,6], 'D':[6, 7, 8], 'B':[2,3,4]}
d3

{'A': [1, 3, 4], 'C': [4, 5, 6], 'D': [6, 7, 8], 'B': [2, 3, 4]}

In [30]:
my_list = sorted(d3.items(),key=lambda i: i[0], reverse=False)
my_list

[('A', [1, 3, 4]), ('B', [2, 3, 4]), ('C', [4, 5, 6]), ('D', [6, 7, 8])]

In [31]:
dict(my_list)

{'A': [1, 3, 4], 'B': [2, 3, 4], 'C': [4, 5, 6], 'D': [6, 7, 8]}

In [33]:
for key, val in d3.items():
    print(key,val)

A [1, 3, 4]
C [4, 5, 6]
D [6, 7, 8]
B [2, 3, 4]

#### Counter from Collections

In [34]:
from collections import Counter
a = 'abcdrfhshdgadlahpqowiuejalskdncbxgsdalkhjfakjbfa'

In [35]:
summary = Counter(a)
summary

Counter({'a': 7,
         'b': 3,
         'c': 2,
         'd': 5,
         'r': 1,
         'f': 3,
         'h': 4,
         's': 3,
         'g': 2,
         'l': 3,
         'p': 1,
         'q': 1,
         'o': 1,
         'w': 1,
         'i': 1,
         'u': 1,
         'e': 1,
         'j': 3,
         'k': 3,
         'n': 1,
         'x': 1})

#### re

In [52]:
import re
a = 'test 20 40 name ! #'

In [53]:
new_list = a.split(' ')
new_list

['test', '20', '40', 'name', '!', '#']

In [54]:
result = re.findall('\d+|[a-zA-Z]+',a) # \d+ for numercal . | combation [a-zA-Z] 
result

['test', '20', '40', 'name']

In [55]:
for i in result:
    if i in new_list:
        new_list.remove(i)
        
new_list

['!', '#']

#### flatten list

In [56]:
A = [[1,2],[3,4],[5,6]]

In [64]:
%time [i for row in A for i in row]

CPU times: user 8 µs, sys: 1 µs, total: 9 µs
Wall time: 15 µs

[1, 2, 3, 4, 5, 6]

In [59]:
import numpy as np

In [63]:
%time np.array(A).flatten().tolist()

CPU times: user 31 µs, sys: 5 µs, total: 36 µs
Wall time: 39.8 µs

[1, 2, 3, 4, 5, 6]

In [62]:
%time sum(A, [])

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 9.78 µs

[1, 2, 3, 4, 5, 6]

In [66]:
from functools import reduce
%time reduce(lambda x,y: x+y,A)

CPU times: user 7 µs, sys: 1 µs, total: 8 µs
Wall time: 11 µs

[1, 2, 3, 4, 5, 6]

In [69]:
import operator
%time reduce(operator.concat, A)

CPU times: user 6 µs, sys: 0 ns, total: 6 µs
Wall time: 10 µs

[1, 2, 3, 4, 5, 6]

In [70]:
int(5.4)

5

In [43]:
from sqlalchemy import create_engine

In [57]:
#engine = create_engine('sqlite://', echo=False)
engine = create_engine('sqlite:///:memory:')
# from sqlalchemy import create_engine

# engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')

In [24]:
import pandas as pd 
df = pd.DataFrame({'cust_id' : ['101', '102', '103','101','102'],
                   'login_ts': ['2:01', '2:02', '2:03','2:04','2:10']})
df

  cust_id login_ts
0     101     2:01
1     102     2:02
2     103     2:03
3     101     2:04
4     102     2:10

In [25]:
df['ts'] = pd.to_datetime(df.login_ts)

In [26]:
df.dtypes

cust_id             object
login_ts            object
ts          datetime64[ns]
dtype: object

In [27]:
import psycopg2
import pandas as pd

In [28]:
user = ''
pw=''
host = ''
database = ''
table_name = ''

In [29]:
conn = psycopg2.connect(host=host, database=database, user=user, password=pw)
cur = conn.cursor()

In [30]:
# Creat table in DataBase
conn.commit()
query = """
    DROP TABLE IF EXISTS {table_name};
    CREATE TABLE {table_name}
    (   cust_id character varying(20)
      , login_ts timestamp
    )
    DISTRIBUTED BY (cust_id);
    """.format(table_name=table_name)
cur.execute(query)
conn.commit()

In [33]:
df = pd.DataFrame({'cust_id' : ['101', '102', '103','101','102'],
                   'login_ts': ['2:01', '2:02', '2:03','2:04','2:10']})
df['login_ts'] = pd.to_datetime(df.login_ts)

In [34]:
df

  cust_id            login_ts
0     101 2019-04-08 02:01:00
1     102 2019-04-08 02:02:00
2     103 2019-04-08 02:03:00
3     101 2019-04-08 02:04:00
4     102 2019-04-08 02:10:00

In [35]:
df.dtypes

cust_id             object
login_ts    datetime64[ns]
dtype: object

In [36]:
# Write dataframe to memory as csv
import io
csv_io = io.StringIO()
df.to_csv(csv_io, sep='\t', header=True, index=False)
csv_io.seek(0)

# Copy the dataframe in memory to GP
conn.commit()
copy_sql = """
           COPY {table_name} FROM stdin WITH CSV HEADER
           DELIMITER as '\t'
           """.format(table_name=table_name)
cur.copy_expert(sql=copy_sql, file=csv_io)
conn.commit()

In [78]:
sql = """
WITH temp AS
(SELECT t1.cust_id AS t1_cust_id
  , t2.cust_id AS t2_cust_id
  , t1.login_ts AS t1_login_ts
  , t2.login_ts AS t2_login_ts
  , DATEDIFF('minute',t1.login_ts,t2.login_ts) AS tdiff
  , ROW_NUMBER() OVER(PARTITION BY t1.cust_id ORDER BY t1.login_ts) AS t1_cust_row_id 
  , ROW_NUMBER() OVER(PARTITION BY t2.cust_id ORDER BY t2.login_ts) AS t2_cust_row_id
FROM {table_name} t1
JOIN {table_name} t2 
ON
   t1.cust_id = t2.cust_id
AND 
   t1.login_ts <= t2.login_ts  
ORDER BY t1_cust_id
)
SELECT *
FROM temp 
ORDER BY 
t1_cust_id
""".format(table_name=table_name)
temp = pd.read_sql(sql, conn)
temp

,t1_cust_id,t2_cust_id,t1_login_ts,t2_login_ts,tdiff,t1_cust_row_id,t2_cust_row_id
0,101,101,2019-04-08 02:01:00,2019-04-08 02:01:00,0.0,2,1
1,101,101,2019-04-08 02:04:00,2019-04-08 02:04:00,0.0,3,2
2,101,101,2019-04-08 02:01:00,2019-04-08 02:04:00,3.0,1,3
3,102,102,2019-04-08 02:02:00,2019-04-08 02:02:00,0.0,2,1
4,102,102,2019-04-08 02:10:00,2019-04-08 02:10:00,0.0,3,2
5,102,102,2019-04-08 02:02:00,2019-04-08 02:10:00,8.0,1,3
6,103,103,2019-04-08 02:03:00,2019-04-08 02:03:00,0.0,1,1

In [82]:
sql = """
WITH temp AS
(SELECT t1.cust_id AS t1_cust_id
  , t2.cust_id AS t2_cust_id
  , t1.login_ts AS t1_login_ts
  , t2.login_ts AS t2_login_ts
  , DATEDIFF('minute',t1.login_ts,t2.login_ts) AS tdiff
  , ROW_NUMBER() OVER(PARTITION BY t1.cust_id ORDER BY t1.login_ts) AS t1_cust_row_id 
  , ROW_NUMBER() OVER(PARTITION BY t2.cust_id ORDER BY t2.login_ts) AS t2_cust_row_id
FROM {table_name} t1
JOIN {table_name} t2 
ON
   t1.cust_id = t2.cust_id
AND 
   t1.login_ts <= t2.login_ts  
ORDER BY t1_cust_id
)
, temp2 AS
(SELECT *
--  , CASE
--    WHEN DATEDIFF('minute',t1_login_ts,t2_login_ts)<5 THEN t1_cust_row_id
--    ELSE t1_new_id
--    END AS session_id
FROM temp
WHERE 
   t2_cust_row_id = t1_cust_row_id - 1
--OR
--t1_cust_row_id = t2_cust_row_id -1
--OR
--   t2_cust_row_id = t1_cust_row_id -1
ORDER BY 
t1_cust_id)

SELECT *
  , ROW_NUMBER() OVER() AS t1_new_id
  , ROW_NUMBER() OVER() AS t2_new_id
FROM temp2 
""".format(table_name=table_name)
most_recent_inflows = pd.read_sql(sql, conn)

In [83]:
most_recent_inflows

,t1_cust_id,t2_cust_id,t1_login_ts,t2_login_ts,tdiff,t1_cust_row_id,t2_cust_row_id,t1_new_id,t2_new_id
0,102,102,2019-04-08 02:02:00,2019-04-08 02:02:00,0.0,2,1,1,1
1,102,102,2019-04-08 02:10:00,2019-04-08 02:10:00,0.0,3,2,2,2
2,101,101,2019-04-08 02:01:00,2019-04-08 02:01:00,0.0,2,1,3,3
3,101,101,2019-04-08 02:04:00,2019-04-08 02:04:00,0.0,3,2,4,4

In [86]:
s = 'ABC'
s1 = [si for si in s]
s1

['A', 'B', 'C']