In [2]:
num = [1,2,3,4,5,6,7,8,9,10]
['Low' if 1<= x <=3 else 'Median' if 3<x<8 else 'High' for x in num]

['Low',
 'Low',
 'Low',
 'Median',
 'Median',
 'Median',
 'Median',
 'High',
 'High',
 'High']

In [3]:
[x for x in num if x%2 ==0]

[2, 4, 6, 8, 10]

In [11]:
d = {'a':1, 'b':2}

In [12]:
type(d)

dict

In [14]:
d.values()

dict_values([1, 2])

In [15]:
d.keys()

dict_keys(['a', 'b'])

In [16]:
print(*num)

1 2 3 4 5 6 7 8 9 10

In [19]:
col_names = ['name','Age', 'Sex', 'Car']
col_values = ['Ming', '30', 'Male', ['Honda','Tesla']]

In [21]:
import pandas as pd

d = {key: value for key, value in zip(col_names, col_values)}
d

{'name': 'Ming', 'Age': '30', 'Sex': 'Male', 'Car': ['Honda', 'Tesla']}

In [22]:
pd.DataFrame(d)

   name Age   Sex    Car
0  Ming  30  Male  Honda
1  Ming  30  Male  Tesla

In [23]:
d = {1: "one", 2: "three"}
d1 = {2: "two"}

# updates the value of key 2
print(d)
print(d1)

{1: 'one', 2: 'three'}
{2: 'two'}

In [24]:
print(d.update(d1))

None