In [1]:
from datetime import datetime
import os
import pandas as pd

In [21]:
df = pd.DataFrame({'cust_id' : ['101', '102', '103','101','102', '101', '101'],
                   'login_ts': ['2:01', '2:02', '2:03','2:05','2:10', '2:10','2:11']})
df['login_ts'] = pd.to_datetime(df.login_ts)

In [22]:
df

  cust_id            login_ts
0     101 2019-05-22 02:01:00
1     102 2019-05-22 02:02:00
2     103 2019-05-22 02:03:00
3     101 2019-05-22 02:05:00
4     102 2019-05-22 02:10:00
5     101 2019-05-22 02:10:00
6     101 2019-05-22 02:11:00

In [23]:
df = df.sort_values(by=['login_ts'])

In [24]:
df.iloc[1]

cust_id                     102
login_ts    2019-05-22 02:02:00
Name: 1, dtype: object

In [25]:
n , _ = df.shape
dic = {}
order = []
index, i = 0, 0

while i < n:
    cst_id, login_time = df.iloc[i]
    i + = 1
    if cst_id in dic.keys() and (login_time- dic[cst_id][0]).seconds/60<5:
        order.append(dic[cst_id][1])
        dic[cst_id] = (login_time, dic[cst_id][1])
    else:
        index + =1
        dic[cst_id]= (login_time, index)
        order.append(index)

In [28]:
dic

{'101': (Timestamp('2019-05-22 02:11:00'), 5),
 '102': (Timestamp('2019-05-22 02:10:00'), 4),
 '103': (Timestamp('2019-05-22 02:03:00'), 3)}

In [26]:
df['order']=order

In [27]:
df

  cust_id            login_ts  order
0     101 2019-05-22 02:01:00      1
1     102 2019-05-22 02:02:00      2
2     103 2019-05-22 02:03:00      3
3     101 2019-05-22 02:05:00      1
4     102 2019-05-22 02:10:00      4
5     101 2019-05-22 02:10:00      5
6     101 2019-05-22 02:11:00      5